doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    script(src='/bower_components/lodash/lodash.js')
    script(src='/bower_components/angular-full/angular.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/moment/locale/es.js')
    script(src='/bower_components/angular-simple-logger/dist/index.js')
    script(src='/bower_components/angular-google-maps/dist/angular-google-maps.js')
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/bower_components/ngGeolocation/ngGeolocation.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-moment/angular-moment.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
    script(src='/javascripts/app/app.js')
    script(src='/javascripts/app/run/moment_run.js')
    script(src='/javascripts/app/config/router.js')
    script(src='/javascripts/app/controller/landing_controller.js')
    script(src='/javascripts/app/controller/contact_controller.js')
    script(src='/javascripts/app/controller/auth_controller.js')
    script(type='text/javascript').
      var socket = io.connect();
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });

  body(ng-app='Colectifacil')
    block content
    nav.navbar.navbar-fixed-top.navbar-primary(ng-controller='LandingController')
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') colectifacil
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li: a(href='/') inicio
              li: a(href='/') live map
              li: a(href='contact') contacto
              li: a(href='about') sobre colectifacil
              li: a(href='companies') empresas
            ul.nav.navbar-nav.navbar-right
              li: a(ng-click='lunchModal()') login
              li: a(ng-show='false') logout
    include ./login.jade